img{
	width:30%;
	float:left;
	margin:1.66%;/*(10/6=1.66%)applied on all sides*/

}
h1{
	font-family: raleway;
	margin-left: 1.66%;
	font-size:23px;
	/*font-weight: 800;*/
	text-transform: uppercase;
	border-bottom: 2px #f1f1f1 solid;
	padding-bottom:10px;
	width:30%;
}