<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harrypotter Series</title>
</head>
<body>
    <h1>After all this time?</h1>
    <h2>Alwaysss!</h2>
    <button type="submit">Favourite</button>
    <button type="submit">Not Favourite</button>
    <button type="submit">My Favourite</button>
</body>
</html>